<%- include partials/header.ejs %>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include partials/header.ejs %>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div contextmenu="container">
      <p>My objective is to utilize my software and web development skills for achieving the target and delevering the best performance. By implement my ideas and creativity for accomplishing the projects.

This is a sample of one of my front end design</p>
      </div>
  </body>
</html>

  </body>
</html>
